# Application Configuration
PORT=8080
GIN_MODE=debug # debug, release, test

# Database Configuration (MySQL)
DB_DSN=root:@tcp(localhost:3308)/backend_laundry_app?charset=utf8mb4&parseTime=True&loc=Local

# Security Keys
JWT_SECRET=your_jwt_secret_key_here
SECRET_KEY=your_secret_key_here
